@font-face {
  font-family: "Scooby";
  src: url("./fonts/scooby.ttf");
}

:root {
  --scooby-colour: #492782;
  --second-colour: #d44910;
}

html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--second-colour);
  background-color: var(--scooby-colour);
}
h1 {
  font-family: "Scooby";
  font-size: 2rem;
  color: var(--second-colour);
}

/* *************  menu-hamburguesa  ********************** */
.header {
  position: sticky;
  z-index: 997;
  bottom: 0 !important;
  padding: 1rem;
  background-color: var(--scooby-colour);
  color: var(--second-colour);
  border-radius: 50%;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 4rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--scooby-colour);
  opacity: 0.75;
  transition: transform 0.3s ease;
  /*De arriba*/
  transform: translate(0, -100%);
  /*De abajo*/
  transform: translate(0, 100%);
  /*De la derecha*/
  transform: translate(100%, 0);
  /*De la izquierda*/
  transform: translate(-100%, 0);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--scooby-color);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--second-colour);
  opacity: 1;
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}

.logo {
  margin-left: 2rem;
}

#scooby3 {
  margin-top: 2rem;
}

@media (min-width: 320px) {
  #scooby3 {
    width: 100%;
    height: auto;
  }
}
